
body{
    font-size: 16px;
    background-color: #230E3D;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}


/* header style */
header{
    width: 100%;
    max-width: 100vw;
}
/* nav-bar styles */
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-color: #412567;
}

.about{
    display: flex;
    gap: 20px;
    list-style: none;
    
}
.bar{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight:500 ;
}
.nav-logo{
    font-size: 2rem;
    color: white;
    font-weight: bolder;

}
.wave {
  background: linear-gradient(90deg, red, orange, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sun-btn{
    font-size: 1rem;
font-weight: 500;
padding: 12px 30px;
color: #FFFFFF;
background: linear-gradient(90deg,#ff6a00,#ff0080);
border-radius: 30px;
cursor: pointer;
transition: all 0.3s ease;
box-shadow: 0 4px 12px rgba(255, 0, 128, 0.4);
text-align: center;
align-items: center;
}
.sub-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(255, 0, 128, 0.6);
}
.arrow {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.subscribe-btn:hover .arrow {
  transform: translateX(5px);
}


/* Banner-section style */
.banner-section{
    width: 100%;
    max-width: 100vw;
    /* border: 2px solid red; */
    height: 700px;
    background-image: url(assets/hero-bg.png);
    background-size:cover;
    background-repeat: no-repeat;
}

        .banner-pic{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* border: 2px solid red; */
            height: 558px;
            width: 550px;

        }
        .same-mesu{
            height: 350px;
            width: 350px;
        }
        .circle{
            background-image: url(assets/hero-circle.png);
            
        }
        .micro-phone{
            background-image: url(assets/microphone.png);
            background-repeat: no-repeat;
            transform: scale(.90) translateX(120px) translateY(100px);
        }
        .new-text{
            height: 38px;
            width: 75px;
            background-color: #00FF88;
            color: black;
            font-size: 18px;
            font-weight: 500;
            
        border-radius: 40px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(230px) translateY(-350px);
        }
        .ban-wave{
            margin-top: 15px;
            font-size: 60px;
            font-weight:bolder;
            color: white;
        }
        .ban-des{
            font-size: 16px;
            font-weight: 500;
            color: #FFFFFF;
        }
    .inner-work{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
padding-top: 50px;
    }
    .sun-btn{
        display: flex;
        gap: 10px;
        border: none;
                
    }
    .banner-btn{
        display: flex;
        gap: 10px;
    }
    /* About the podcast section */

    .about-the-podcast{
        height: 550px;
        width: 100%;
        max-width: 100vw;
        background-color:#1A0B2E ;
        margin-top: 0;
        /* border: 2px solid red; */
    }
    .podcast-des{
        /* border: 2px solid red; */
        width: 75%;
        margin: 0 auto;
        text-align: center;

    }
    #podcast-title{
        font-size: 3rem;
        color: #FFFFFF;
    }
    #Serif-text{
        font-size: 1rem;
    color: #FFFFFF;
    }
    .podcast-card{
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin: 100px auto;
    }
    .view{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .amount{
        font-size: 3rem;
        color: #00FF88;
    }
    .view>small{
        font-size: 1rem;
        color: #FFFFFF;
    }
    /* Why Choose TechWave */
    .Why-Choose-TechWave{
width: 100%;
max-width: 100vw;
/* border: 2px solid red; */
height: 1000px;
background-color: #230E3D;
color: #FFFFFF;

    }
    .choose{
        margin: 10px auto;
        text-align: center;
        padding: 20px;
        font-size: 2rem;
        font-weight: bold;
    }
    .img-des{
        width: 100%;
        max-width: 75%;
        height: 783px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        /* border: 2px solid yellow; */
        row-gap: 30px;
        column-gap: 30px;
        margin: 0 auto;
    }
    .sec1{
grid-row: span 2;
    }
    .sec2 ,.sec3,.sec4{
        grid-column: span 2;
    }
    .card{
        /* border: 2px dashed; */
        padding-left: 40px;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #351165;

border-radius: 40px;
transition:transform 5s linear ;

    }
    .size-img{
        height: 60px;
        width: 60px;
    }
    /* transition applied on the cards */
    .card:hover{
        transform: rotate(10deg);
    }

    /*  Featured Episodes*/
.featured-title{
    color: #FFFFFF;
    font-size: 3rem ;
    display: flex;
    justify-content: center;
}

    .video{
        /* height: 440px; */
        width: 100%;
        border-radius: 20px;
color: #FFFFFF;
/* border: 2px solid red; */
background-color: #430D89;
    }
    .iframe{
        height: 214px;
        width: 100%;
        border-radius: 20px;
    }
    .vid-description{
        display: flex;
        flex-direction: column;
        padding-left: 24px;
    }
    .vid-time{
        color: #00FF88;
    }
    .featured-episodes{
        width: 100%;
        max-width: 100vw;
        /* border: 2px solid red; */
    }
    .video-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 35px;
        /* border: 2px solid yellow; */
        width: 75%;
        margin: 0 auto;

    }
    .vid-description>h2{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .vid-description>p{
        font-size: 1rem;
    }

    /* Meet the Host */

    .meet-host{
        width: 100%;
        max-width: 100vw;
        /* border: 2px solid red; */
        color: #FFFFFF;
    }
    .host-img{
        height: 200px;
        width: 200px;
        padding-left: 20px;

    }
    .host-des{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        /* border: 2px solid yellow; */
    }
    .link-img{
        height: 20px;
        width: 20px;
       
    }
    .in-img{
        height: 40px;
        width: 40px;
        background-color: #7D50BA;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alex-link{
        display: flex;
        gap: 10px;
    }
    #host-title{
        font-size: 3rem;
        display: flex;
justify-content: center;
padding-top: 50px;
padding-bottom: 35px;
    }
    .main-host{
        display: flex;
        gap: 20px;
       background-color: #230E3D;
       width: 75%;
       /* border: 2px solid green; */
       margin: 0 auto;
       background-color:#2f1452;
       border-radius: 20px;
       padding-top: 20px;
       padding-bottom: 20px;
    }

    /* footer */

    .footer{
        width: 100%;
        max-width: 100vw;
        background-image: url(assets/footer-bg.png);
        /* border: 2px solid red; */
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
    }
    .footer-innerdiv{
        height: 412px;
        width: 85%;
        /* border: 2px solid yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }
    .footer-icon{
        display: flex;
        gap: 40px;
    }
    .bold-text-last{
        font-weight: 900;
        
    }
    .pod{
       color: #FFFFFF;
       font-size: 1.2rem;
    }
    .footer-icon>p{
        display: flex;
        gap: 15px;
    }